*{
  margin: 0;
  padding: 0;
}
header ul{
  background-color: gray;
  height: 75px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}
header a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
table{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
td{
  padding: 20px;
}
form{
  margin-left: 15px;
}
div{
  margin: 10px;
}
